@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply py-16;
}

section {
  @apply py-6;
}

.container {
  @apply max-w-7xl px-4 mx-auto;
}

a, button {
  @apply inline-block !bg-blue-900 text-gray-50 px-5 py-2 rounded-full;
}

form {
  @apply space-y-4;
}

input, textarea {
  @apply block w-full bg-gray-100 px-5 py-3 rounded-3xl;
}

h1 {
  @apply text-5xl font-bold mb-6;
}

h2 {
  @apply text-3xl font-bold mb-3;
}

h3 {
  @apply text-2xl font-bold mb-1;
}

.btn-group {
  @apply space-x-3;
}

.posts {
  @apply space-y-4;
}

.post {
  @apply bg-gray-100 px-6 py-4 rounded-3xl;
}

.post-content {
  @apply mb-3;
}

.post-delete-btn {
  @apply !bg-cyan-700;
}